// bower:scss
@import "../bower_components/normalize-scss/_normalize.scss";
@import "../bower_components/sassy-maps/sass/_sassy-maps.scss";
@import "../bower_components/breakpoint-sass/stylesheets/_breakpoint.scss";
// endbower
@import 'susy';


$susy : (
container: 80%,
columns: 12,
gutters : .25,
global-box-sizing : border-box,
debug : (image : show),
    );

@include border-box-sizing;

.page{
    @include container();
}

